---
# this is an empty front matter
---
<html lang="en">
<head>
    {% include header.html %}
</head>
<body>
<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">WayMou</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">关于</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">博客</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
            <li><a href="/projects.html">项目</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center orange-text">Welcome</h1>
        <div class="row center">
            <h5 class="header col s12 light">This site is under construction.</h5>
        </div>
        <div class="row center">
            <a href="https://github.com/proliming" id="download-button"
               class="btn-large waves-effect waves-light orange">Github</a>
        </div>
        <br><br>

    </div>
</div>

<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h5 class="center">Projects</h5>

                    <p class="light">我参与或者开发的项目以及各个项目页面</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h5 class="center">Blog</h5>

                    <p class="light">个人博客,用于记录生活以及技术点滴</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h5 class="center">Share</h5>

                    <p class="light">分享或者转载的精彩内容</p>
                </div>
            </div>
        </div>

    </div>
    <br><br>

    <div class="section">

    </div>
</div>

{% include footer.html %}
</body>
</html>